* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: FiraSans;
}

*[draggable=true] {
    -moz-user-select:none;
    -khtml-user-drag: element;
}

ul {
    list-style: none;
}

*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

.col-centered{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
}

.col-centered:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
}

.block {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
    width: 628px;
    height: 490px;
    position: relative;
}

.main-window {
    display: block;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
}

.main-window-header {
    height: auto;
    background-color: #ff8663;
    color: white;
    padding: 15px;
}

.main-window-header:after {
    content: "";
    display: table;
    clear: both;
}
.main-window-header-left {
    float: left;
}
.main-window-header-right {
    float: right;
}

.main-window-input {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 15px 10px 15px;
}

.main-window-input:after {
    content: "";
    display: table;
    clear: both;
}

.main-window-input input {
    border: 0;
    border-radius: 15px;
    width: 100%;
    text-indent: 15px;
    color: #777;
    font-weight: normal;
    padding: 5px 0;
}

.main-window-input input::-webkit-input-placeholder {
    color: #acacac;
    font-weight: lighter;
    font-size: 12px;
}

.main-window-input input:-ms-input-placeholder {
    color: #acacac;
    font-weight: lighter;
    font-size: 12px;
}

.main-window-input input::placeholder {
    color: #acacac;
    font-weight: lighter;
    font-size: 12px;
}

.main-window-input input:focus {
    outline: 0;
}

.main-window-input-left {
    position: relative;
    float: left;
    width: 47%;
    margin-left: 8px;
}

.main-window-input-left .search {
    position: absolute;
    color: #777;
    top: 10px;
    left: 10px;
}

.main-window-input-left input {
    text-indent: 35px;
}

.main-window-input-right {
    float: right;
    width: 48%;
    margin-left: 8px;
}
.list {
    display: block;
    height: 100%;
}
.list:after {
    content: "";
    display: table;
    clear: both;
}

.list-header {
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #777777;
}

.list-header:after {
    content: "";
    display: table;
    clear: both;
}

.list-header-left,.list-header-right {
    border-bottom: 1px solid #f0f0f0;
    padding-left: 0;
    margin-left: 21px;
    padding-bottom: 7px;
    width: 45%;
}

.list-header-right {
    width: 45%;
}

.list-body {
    display: block;
}
.list-body:after {
    content: "";
    display: table;
    clear: both;
}
.list-body-left {
    display: block;
    padding-right: 0;
    margin-left: 10px;
    width: 47%;
    margin-right: 0;
    padding-left: 0;
    overflow: auto;
    height: 304px;
    padding-bottom: 30px;
}

.list-body-right {
    float: left;
    padding-left: 0;
    padding-right: 0;
    width: 47%;
    margin-left: 10px;
    height: 304px;
    overflow: auto;
    padding-bottom: 30px;
}

#right-container, #left-container{
    height: 96%;
}


.foto {
    margin-left: 10px;

}

.foto:hover {
    background-color: #f0f0f0;
}
.foto span {
    font-size: 13px;
    font-weight: bold;
}
.foto img {
    padding: 5px;
    border-radius: 50%;
    width: 20%;
}

.list-icon {
    font-size: 16px !important;
    float: right;
    color: #878787;
    top: 22px;
    right: 10px;
    cursor: pointer;
}
.main-window-footer {
    height: 50px;
    background-color: #f0f0f0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-window-footer button {
    background-color: #ff8663;
    border-radius: 15px;
    padding: 10px;
    color: white;
    border: none;
    font-size: 12px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}
